.payment {
  background-color: white;
}

.payment__container {
}
.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}
.payment__container > h1 a {
  text-decoration: none;
}
.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}
.payment__details > form {
  max-width: 400px;
}
.payment__details > h3 {
  padding-bottom: 20px;
}
.payment__details > form > div > button {
  width: 100%;
  background: linear-gradient(to right, #323232, #000000);
  color: white !important;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bolder;
  margin-top: 10px;
}
.payment__title {
  flex: 0.2;
  margin-right: 10px;
}

.payment__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
