.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__gift > input {
  margin-right: 5px;
}
.proceed__Button {
  width: 70%;
  margin-top: 10px;
  background-color: #131921 !important;
  color: white !important;
  text-transform: uppercase;
}

.centredButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
